<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background: rgb(168, 247, 168); font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(17, 139, 17); padding: 30px; }
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; margin-top: 200px;}
        p{font-size: 20px; text-align: center;}
        span{color: blue;}
        form{width: 400px; max-width: 100%; padding: 20px; margin: 20px auto;}
        input, label{display: block; margin: 10px; padding: 5px; width: 100%;}
        input[type='submit']{width: auto;}
    </style>
</head>
<body>
    <!-- <%- include('partials/nav')%> -->
    <h3>WELCOME <%= data.admin %></h3>
    <h1>Admin's complaint Box</h1>
    <h1> Admin <%= data.admin %> there's a complaint for you</h1>
    <p><span><%= data.email%></span> Has reached your complaint box saying: <span><%= data.complaint %></span></p>
    <h1>Reply back here</h1>
    <form id="respond-form" method="get" action="/admin-sucess">
        <label for="admin">your name:</label>
        <input type="text" name="admin" value="<%= data.admin %>">
        <label for="admin_dept">Which department:</label>
        <input type="text" name="admin_dept" required>
        <label for="email">Enter complainant mail </label>
        <input type="text" name="email" placeholder="required" required>
        <input type="submit" value="submit">
    </form>
</body>
</html>